
body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: black;
}

header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 1rem;
  display: block;
}

nav ul li a:hover {
  color: var(--secondary-color);
}

h1 {
  font-size: 50px;
}
section{
  padding: 20px;
  text-align: justify;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

footer {
  padding: 1rem;
  text-align: center;
  background-color: grey;
  color: #000;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 20px 50px;
}

.footer-column h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  border-top: 1px solid  grey;
}

a{
  color: #000;
  text-decoration: none;
}
a:hover{
  color: white;
}
.navbar {
  background-color: grey;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar a {
  color: black;
  text-decoration: none;
  padding: 14px 16px;
}
.navbar img {
  width: 24px;
  height: 24px;
}
.navbar .mercedes {
  font-size: 24px;
}
hr {
  border: 0;
  height: 1px;
  background: #333;
  margin: 20px 0;
}
.servis{
  margin-left: 200px;
}
.servis img{
  float: right;
  margin-right: 300px;
  clear: both;
  margin-bottom: 20px;
  margin-top: 10px;
}

.card-container {
  width: 600px;
  height: 500px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: justify;
  display: flex;
  margin-right: 20px;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .front-content p {
  font-size: 28px;
  font-weight: 700;
  opacity: 1;
  background: linear-gradient(-45deg, #0087 0%, #d75f00 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-45deg, #0087 0%, #d75f00 100% );
  color: #e8e8e8;
  padding: 5px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translateY(96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .front-content {
  transform: translateY(-30%);
}

.card:hover .front-content p {
  opacity: 0;
}
@media only screen and (max-width:720px){

}